@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.navbar {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 1px 2px black;
}
.navbar__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 2em;
}
.navbar__li {
  text-transform: uppercase;
  margin: 0 1rem;
  text-decoration: none;
  align-self: center;
  font-size: 22px;
  font-weight: 400;
  white-space: nowrap;
  color: #000;
}

.navbar__li:hover {
  color: #b1917b;
  transition: color 0s linear;
  text-decoration: none;
}

.navbar__logo {
  width: 150px;
}
.navbar__cartwidget {
  color: #000;
}
