@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
}
.navbar__li {
  text-decoration: none;
  color: aliceblue;
}
.navbar__li:hover {
  text-decoration: overline 10px;
}

.navbar__logo {
  width: 150px;
}
.navbar__cartwidget {
  color: white;
}
