h1 {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: 3em;
  text-shadow: 10px 20px 18px rgba(0, 0, 0, 0.5);
}
